{% extends "RedpillLinproLayoutBundle::layout.html.twig" %}

{% block lsidemenu %}
<!-- <ul class="menu"> -->
<ul>
    <li class='active'> <a href="{{ path('home') }}"><span>Home</span></a>
    <li>&nbsp;
</ul>
{% endblock %}

{% block lcontent %}

{% block content %}

{% endblock %}

{% endblock %}

