{% extends "RedpillLinproLayoutBundle::layout.html.twig" %}

{% block lsidemenu %}
<!-- <ul class="menu"> -->
<ul>
    <li class='active'> <a href="{{ path('nte_inventory_default_index') }}"><span>Home</span></a>
    <li>&nbsp;
    <li> <a href="{{ path('site', { 'order_by': 'name'}) }}">Sites</a>
    <li> <a href="{{ path('model', { 'order_by': 'name'}) }}">Models</a>
    <li> <a href="{{ path('modeltype') }}">Model Types</a>
    <li> <a href="{{ path('itemfunction') }}">Item Functions</a>
    <li> <a href="{{ path('ipam_block') }}">IPAM Blocks</a>
    <li>&nbsp;
    <li> <a href="{{ path('fos_user_profile_show') }}">Profile</a>
    <li> <a href="{{ path('fos_user_change_password') }}">Change password</a>
    <li>&nbsp;
</ul>
{% endblock %}

{% block lcontent %}
<img src="/bundles/layout/images/inventory.png" border="0"><br><br>

{% block content %}

{% endblock %}

{% endblock %}

